{
  "openapi": "3.0.1",
  "info": {
    "title": "EMA Certified API",
    "contact": {},
    "version": "4.1-SNAPSHOT"
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "servers": [
    {
      "url": "https://fhirmp.mmi.prod.fhir.ema-api.com/fhir/r4",
      "description": "EMA Certified FHIR API",
      "variables": {
        "firm": {
          "default": "fhirmp",
          "description": "Your firm subdomain (e.g. fhirmp, auraderm). Find yours at https://mm-fhir-endpoint-display.prod.fhir.ema-api.com/"
        }
      }
    }
  ],
  "tags": [
    {
      "name": "Capability Statement",
      "description": "Capability Statement"
    },
    {
      "name": "AllergyIntolerance",
      "description": "The AllergyIntolerance FHIR resource type<br/>Base profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-allergyintolerance"
    },
    {
      "name": "CarePlan",
      "description": "The CarePlan FHIR resource type<br/>Base profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-careplan"
    },
    {
      "name": "CareTeam",
      "description": "The CareTeam FHIR resource type<br/>Base profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-careteam"
    },
    {
      "name": "Condition",
      "description": "The Condition FHIR resource type<br/>Base profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-condition"
    },
    {
      "name": "Coverage",
      "description": "The Coverage FHIR resource type<br/>Base profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-coverage"
    },
    {
      "name": "Device",
      "description": "The Device FHIR resource type<br/>Base profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-implantable-device"
    },
    {
      "name": "DiagnosticReport",
      "description": "The DiagnosticReport FHIR resource type"
    },
    {
      "name": "DocumentReference",
      "description": "The DocumentReference FHIR resource type<br/>Base profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-documentreference"
    },
    {
      "name": "Encounter",
      "description": "The Encounter FHIR resource type<br/>Base profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-encounter"
    },
    {
      "name": "Endpoint",
      "description": "The Endpoint FHIR resource type"
    },
    {
      "name": "Goal",
      "description": "The Goal FHIR resource type<br/>Base profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-goal"
    },
    {
      "name": "Group",
      "description": "The Group FHIR resource type"
    },
    {
      "name": "Immunization",
      "description": "The Immunization FHIR resource type<br/>Base profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-immunization"
    },
    {
      "name": "Location",
      "description": "The Location FHIR resource type<br/>Base profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-location"
    },
    {
      "name": "Medication",
      "description": "The Medication FHIR resource type<br/>Base profile: http://hl7.org/fhir/StructureDefinition/Medication"
    },
    {
      "name": "MedicationDispense"
    },
    {
      "name": "MedicationRequest",
      "description": "The MedicationRequest FHIR resource type<br/>Base profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-medicationrequest"
    },
    {
      "name": "Observation",
      "description": "The Observation FHIR resource type"
    },
    {
      "name": "OperationDefinition",
      "description": "The OperationDefinition FHIR resource type<br/>Base profile: http://hl7.org/fhir/StructureDefinition/OperationDefinition"
    },
    {
      "name": "Organization",
      "description": "The Organization FHIR resource type<br/>Base profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-organization"
    },
    {
      "name": "Patient",
      "description": "The Patient FHIR resource type<br/>Base profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-patient"
    },
    {
      "name": "Practitioner",
      "description": "The Practitioner FHIR resource type<br/>Base profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-practitioner"
    },
    {
      "name": "PractitionerRole",
      "description": "The PractitionerRole FHIR resource type<br/>Base profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-practitionerrole"
    },
    {
      "name": "Procedure",
      "description": "The Procedure FHIR resource type<br/>Base profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-procedure"
    },
    {
      "name": "Provenance",
      "description": "The Provenance FHIR resource type<br/>Base profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-provenance"
    },
    {
      "name": "Questionnaire"
    },
    {
      "name": "QuestionnaireResponse"
    },
    {
      "name": "RelatedPerson"
    },
    {
      "name": "ServiceRequest",
      "description": "The ServiceRequest FHIR resource type<br/>Base profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-servicerequest"
    },
    {
      "name": "Specimen"
    },
    {
      "name": "ValueSet",
      "description": "The ValueSet FHIR resource type"
    }
  ],
  "paths": {
    "/metadata": {
      "get": {
        "tags": [
          "Capability Statement"
        ],
        "summary": "server-capabilities: Fetch the server FHIR CapabilityStatement",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                },
                "example": "{\n  \"resourceType\": \"CapabilityStatement\"\n}"
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                },
                "example": "<CapabilityStatement xmlns=\"http://hl7.org/fhir\"/>"
              },
              "application/json": {
                "examples": {
                  "OK": {
                    "summary": "OK",
                    "value": {
                      "resourceType": "CapabilityStatement",
                      "name": "FhirServer",
                      "status": "active",
                      "date": "2026-05-18T16:00:29+00:00",
                      "publisher": "Modernizing Medicine",
                      "kind": "instance",
                      "instantiates": [
                        "http://hl7.org/fhir/us/core/CapabilityStatement/us-core-server",
                        "http://hl7.org/fhir/uv/bulkdata/CapabilityStatement/bulk-data"
                      ],
                      "software": {
                        "name": "Fhir Server",
                        "version": "4.8_FINAL"
                      },
                      "implementation": {
                        "description": "Fhir Rest API Server",
                        "url": "https://fhirmp.mmi.prod.fhir.ema-api.com:443/fhir/r4"
                      },
                      "fhirVersion": "4.0.1",
                      "format": [
                        "application/fhir+xml",
                        "application/fhir+json"
                      ],
                      "rest": [
                        {
                          "mode": "server",
                          "security": {
                            "extension": [
                              {
                                "url": "http://fhir-registry.smarthealthit.org/StructureDefinition/oauth-uris",
                                "extension": [
                                  {
                                    "url": "authorize",
                                    "valueUri": "https://fhirmp.mmi.prod.fhir.ema-api.com/fhir/r4/auth/realms/fhir/protocol/openid-connect/auth"
                                  },
                                  {
                                    "url": "token",
                                    "valueUri": "https://fhirmp.mmi.prod.fhir.ema-api.com/fhir/r4/auth/realms/fhir/protocol/openid-connect/token"
                                  }
                                ]
                              }
                            ],
                            "cors": true,
                            "service": [
                              {
                                "coding": [
                                  {
                                    "system": "http://terminology.hl7.org/CodeSystem/restful-security-service",
                                    "code": "OAuth",
                                    "display": "OAuth"
                                  }
                                ],
                                "text": "OAuth"
                              },
                              {
                                "coding": [
                                  {
                                    "system": "http://terminology.hl7.org/CodeSystem/restful-security-service",
                                    "code": "SMART-on-FHIR",
                                    "display": "SMART-on-FHIR"
                                  }
                                ],
                                "text": "SMART-on-FHIR"
                              }
                            ]
                          },
                          "resource": [
                            {
                              "type": "AllergyIntolerance",
                              "profile": "http://hl7.org/fhir/us/core/StructureDefinition/us-core-allergyintolerance",
                              "supportedProfile": [
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-allergyintolerance"
                              ],
                              "interaction": [
                                {
                                  "code": "read"
                                },
                                {
                                  "code": "search-type"
                                }
                              ],
                              "searchParam": [
                                {
                                  "name": "_id",
                                  "type": "token",
                                  "documentation": "The ID of the resource"
                                },
                                {
                                  "name": "clinical-status",
                                  "type": "token",
                                  "documentation": "active | inactive | resolved"
                                },
                                {
                                  "name": "patient",
                                  "type": "reference",
                                  "documentation": "Who the sensitivity is for"
                                }
                              ]
                            },
                            {
                              "type": "CarePlan",
                              "profile": "http://hl7.org/fhir/us/core/StructureDefinition/us-core-careplan",
                              "supportedProfile": [
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-careplan"
                              ],
                              "interaction": [
                                {
                                  "code": "read"
                                },
                                {
                                  "code": "search-type"
                                }
                              ],
                              "searchParam": [
                                {
                                  "name": "_id",
                                  "type": "token",
                                  "documentation": "The ID of the resource"
                                },
                                {
                                  "name": "category",
                                  "type": "token",
                                  "documentation": "Type of plan"
                                },
                                {
                                  "name": "intent",
                                  "type": "string",
                                  "documentation": "proposal | plan | order | option"
                                },
                                {
                                  "name": "patient",
                                  "type": "reference",
                                  "documentation": "Who the care plan is for"
                                },
                                {
                                  "name": "status",
                                  "type": "string",
                                  "documentation": "draft | active | on-hold | revoked | completed | entered-in-error | unknown"
                                }
                              ]
                            },
                            {
                              "type": "CareTeam",
                              "profile": "http://hl7.org/fhir/us/core/StructureDefinition/us-core-careteam",
                              "supportedProfile": [
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-careteam"
                              ],
                              "interaction": [
                                {
                                  "code": "read"
                                },
                                {
                                  "code": "search-type"
                                }
                              ],
                              "searchParam": [
                                {
                                  "name": "_id",
                                  "type": "token",
                                  "documentation": "The ID of the resource"
                                },
                                {
                                  "name": "patient",
                                  "type": "reference",
                                  "documentation": "Who care team is for"
                                },
                                {
                                  "name": "status",
                                  "type": "string",
                                  "documentation": "proposed | active | suspended | inactive | entered-in-error"
                                }
                              ]
                            },
                            {
                              "type": "Condition",
                              "supportedProfile": [
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-condition",
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-condition-problems-health-concerns",
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-condition-encounter-diagnosis"
                              ],
                              "interaction": [
                                {
                                  "code": "read"
                                },
                                {
                                  "code": "search-type"
                                }
                              ],
                              "searchParam": [
                                {
                                  "name": "_id",
                                  "type": "token",
                                  "documentation": "The ID of the resource"
                                },
                                {
                                  "name": "category",
                                  "type": "token",
                                  "documentation": "The category of the condition"
                                },
                                {
                                  "name": "clinical-status",
                                  "type": "token",
                                  "documentation": "The clinical status of the condition"
                                },
                                {
                                  "name": "code",
                                  "type": "token",
                                  "documentation": "Code for the condition"
                                },
                                {
                                  "name": "encounter",
                                  "type": "reference",
                                  "documentation": "Encounter created as part of"
                                },
                                {
                                  "name": "onset-date",
                                  "type": "date",
                                  "documentation": "Date related onsets (dateTime and Period)"
                                },
                                {
                                  "name": "patient",
                                  "type": "reference",
                                  "documentation": "Who has the condition?"
                                },
                                {
                                  "name": "recorded-date",
                                  "type": "date",
                                  "documentation": "Date record was first recorded"
                                }
                              ]
                            },
                            {
                              "type": "Coverage",
                              "profile": "http://hl7.org/fhir/us/core/StructureDefinition/us-core-coverage",
                              "supportedProfile": [
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-coverage"
                              ],
                              "interaction": [
                                {
                                  "code": "read"
                                },
                                {
                                  "code": "search-type"
                                }
                              ],
                              "searchParam": [
                                {
                                  "name": "_id",
                                  "type": "token",
                                  "documentation": "The ID of the resource"
                                },
                                {
                                  "name": "patient",
                                  "type": "reference",
                                  "documentation": "Retrieve coverages for a patient"
                                }
                              ]
                            },
                            {
                              "type": "Device",
                              "profile": "http://hl7.org/fhir/us/core/StructureDefinition/us-core-implantable-device",
                              "supportedProfile": [
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-implantable-device"
                              ],
                              "interaction": [
                                {
                                  "code": "read"
                                },
                                {
                                  "code": "search-type"
                                }
                              ],
                              "searchParam": [
                                {
                                  "name": "_id",
                                  "type": "token",
                                  "documentation": "The ID of the resource"
                                },
                                {
                                  "name": "patient",
                                  "type": "reference",
                                  "documentation": "Patient information, if the resource is affixed to a person"
                                },
                                {
                                  "name": "type",
                                  "type": "token",
                                  "documentation": "The type of the device"
                                }
                              ]
                            },
                            {
                              "type": "DiagnosticReport",
                              "supportedProfile": [
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-diagnosticreport-lab",
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-diagnosticreport-note"
                              ],
                              "interaction": [
                                {
                                  "code": "read"
                                },
                                {
                                  "code": "search-type"
                                }
                              ],
                              "searchParam": [
                                {
                                  "name": "_id",
                                  "type": "token",
                                  "documentation": "The ID of the resource"
                                },
                                {
                                  "name": "category",
                                  "type": "token",
                                  "documentation": "Which diagnostic discipline/department created the report"
                                },
                                {
                                  "name": "code",
                                  "type": "token",
                                  "documentation": "The code for the report, as opposed to codes for the atomic results, which are the names on the observation resource referred to from the result"
                                },
                                {
                                  "name": "date",
                                  "type": "date",
                                  "documentation": "The clinically relevant time of the report"
                                },
                                {
                                  "name": "patient",
                                  "type": "reference",
                                  "documentation": "The subject of the report if a patient"
                                },
                                {
                                  "name": "status",
                                  "type": "string",
                                  "documentation": "The status of the report"
                                }
                              ]
                            },
                            {
                              "type": "DocumentReference",
                              "profile": "http://hl7.org/fhir/us/core/StructureDefinition/us-core-documentreference",
                              "supportedProfile": [
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-documentreference"
                              ],
                              "interaction": [
                                {
                                  "code": "read"
                                },
                                {
                                  "code": "search-type"
                                }
                              ],
                              "searchParam": [
                                {
                                  "name": "_id",
                                  "type": "token",
                                  "documentation": "The ID of the resource"
                                },
                                {
                                  "name": "category",
                                  "type": "token",
                                  "documentation": "Categorization of document"
                                },
                                {
                                  "name": "date",
                                  "type": "date",
                                  "documentation": "When this document reference was created"
                                },
                                {
                                  "name": "patient",
                                  "type": "reference",
                                  "documentation": "Who/what is the subject of the document"
                                },
                                {
                                  "name": "period",
                                  "type": "date",
                                  "documentation": "Time of service that is being documented"
                                },
                                {
                                  "name": "status",
                                  "type": "token",
                                  "documentation": "current | superseded | entered-in-error"
                                },
                                {
                                  "name": "type",
                                  "type": "token",
                                  "documentation": "Kind of document (LOINC if possible)"
                                }
                              ]
                            },
                            {
                              "type": "Encounter",
                              "profile": "http://hl7.org/fhir/us/core/StructureDefinition/us-core-encounter",
                              "supportedProfile": [
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-encounter"
                              ],
                              "interaction": [
                                {
                                  "code": "read"
                                },
                                {
                                  "code": "search-type"
                                }
                              ],
                              "searchParam": [
                                {
                                  "name": "_id",
                                  "type": "token",
                                  "documentation": "The ID of the resource"
                                },
                                {
                                  "name": "class",
                                  "type": "token",
                                  "documentation": "Classification of patient encounter"
                                },
                                {
                                  "name": "date",
                                  "type": "date",
                                  "documentation": "A date within the period the Encounter lasted"
                                },
                                {
                                  "name": "identifier",
                                  "type": "token",
                                  "documentation": "Identifier(s) by which this encounter is known"
                                },
                                {
                                  "name": "patient",
                                  "type": "reference",
                                  "documentation": "The patient or group present at the encounter"
                                },
                                {
                                  "name": "status",
                                  "type": "string",
                                  "documentation": "planned | arrived | triaged | in-progress | onleave | finished | cancelled +"
                                },
                                {
                                  "name": "type",
                                  "type": "token",
                                  "documentation": "Specific type of encounter"
                                }
                              ]
                            },
                            {
                              "type": "Endpoint",
                              "interaction": [
                                {
                                  "code": "read"
                                },
                                {
                                  "code": "search-type"
                                }
                              ],
                              "searchParam": [
                                {
                                  "name": "_id",
                                  "type": "token",
                                  "documentation": "The ID of the resource"
                                },
                                {
                                  "name": "connection-type",
                                  "type": "token",
                                  "documentation": "Protocol/Profile/Standard to be used with this endpoint connection"
                                },
                                {
                                  "name": "name",
                                  "type": "string",
                                  "documentation": "A name that this endpoint can be identified by"
                                },
                                {
                                  "name": "organization",
                                  "type": "reference",
                                  "documentation": "The organization that is managing the endpoint"
                                },
                                {
                                  "name": "status",
                                  "type": "string",
                                  "documentation": "The current status of the Endpoint (usually expected to be active)"
                                }
                              ]
                            },
                            {
                              "type": "Goal",
                              "profile": "http://hl7.org/fhir/us/core/StructureDefinition/us-core-goal",
                              "supportedProfile": [
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-goal"
                              ],
                              "interaction": [
                                {
                                  "code": "read"
                                },
                                {
                                  "code": "search-type"
                                }
                              ],
                              "searchParam": [
                                {
                                  "name": "_id",
                                  "type": "token",
                                  "documentation": "The ID of the resource"
                                },
                                {
                                  "name": "lifecycle-status",
                                  "type": "token",
                                  "documentation": "proposed | planned | accepted | active | on-hold | completed | cancelled | entered-in-error | rejected"
                                },
                                {
                                  "name": "patient",
                                  "type": "reference",
                                  "documentation": "Who this goal is intended for"
                                },
                                {
                                  "name": "target-date",
                                  "type": "date",
                                  "documentation": "Reach goal on or before"
                                }
                              ]
                            },
                            {
                              "type": "Group",
                              "interaction": [
                                {
                                  "code": "read"
                                }
                              ],
                              "operation": [
                                {
                                  "name": "export",
                                  "definition": "http://hl7.org/fhir/uv/bulkdata/OperationDefinition/group-export"
                                }
                              ]
                            },
                            {
                              "type": "Immunization",
                              "profile": "http://hl7.org/fhir/us/core/StructureDefinition/us-core-immunization",
                              "supportedProfile": [
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-immunization"
                              ],
                              "interaction": [
                                {
                                  "code": "read"
                                },
                                {
                                  "code": "search-type"
                                }
                              ],
                              "searchParam": [
                                {
                                  "name": "_id",
                                  "type": "token",
                                  "documentation": "The ID of the resource"
                                },
                                {
                                  "name": "date",
                                  "type": "date",
                                  "documentation": "Vaccination  (non)-Administration Date"
                                },
                                {
                                  "name": "patient",
                                  "type": "reference",
                                  "documentation": "The patient for the vaccination record"
                                },
                                {
                                  "name": "status",
                                  "type": "string",
                                  "documentation": "Immunization event status"
                                }
                              ]
                            },
                            {
                              "type": "Location",
                              "profile": "http://hl7.org/fhir/us/core/StructureDefinition/us-core-location",
                              "supportedProfile": [
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-location"
                              ],
                              "interaction": [
                                {
                                  "code": "read"
                                },
                                {
                                  "code": "search-type"
                                }
                              ],
                              "searchParam": [
                                {
                                  "name": "_id",
                                  "type": "token",
                                  "documentation": "The ID of the resource"
                                },
                                {
                                  "name": "address",
                                  "type": "string",
                                  "documentation": "A (part of the) address of the location"
                                },
                                {
                                  "name": "address-city",
                                  "type": "string",
                                  "documentation": "A city specified in an address"
                                },
                                {
                                  "name": "address-country",
                                  "type": "string",
                                  "documentation": "A country specified in an address"
                                },
                                {
                                  "name": "address-postalcode",
                                  "type": "string",
                                  "documentation": "A postal code specified in an address"
                                },
                                {
                                  "name": "address-state",
                                  "type": "string",
                                  "documentation": "A state specified in an address"
                                },
                                {
                                  "name": "address-use",
                                  "type": "token",
                                  "documentation": "A use code specified in an address"
                                },
                                {
                                  "name": "identifier",
                                  "type": "token",
                                  "documentation": "An identifier for the location"
                                },
                                {
                                  "name": "name",
                                  "type": "string",
                                  "documentation": "A portion of the location's name or alias"
                                },
                                {
                                  "name": "status",
                                  "type": "token",
                                  "documentation": "Searches for locations with a specific kind of status"
                                }
                              ]
                            },
                            {
                              "type": "Medication",
                              "profile": "http://hl7.org/fhir/StructureDefinition/Medication",
                              "supportedProfile": [
                                "http://hl7.org/fhir/StructureDefinition/Medication"
                              ],
                              "interaction": [
                                {
                                  "code": "read"
                                }
                              ]
                            },
                            {
                              "type": "MedicationDispense",
                              "profile": "http://hl7.org/fhir/us/core/StructureDefinition/us-core-medicationdispense",
                              "supportedProfile": [
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-medicationdispense"
                              ],
                              "interaction": [
                                {
                                  "code": "read"
                                },
                                {
                                  "code": "search-type"
                                }
                              ],
                              "searchParam": [
                                {
                                  "name": "_id",
                                  "type": "token",
                                  "documentation": "The ID of the resource"
                                },
                                {
                                  "name": "patient",
                                  "type": "reference",
                                  "documentation": "The identity of a patient to list dispenses  for"
                                }
                              ]
                            },
                            {
                              "type": "MedicationRequest",
                              "profile": "http://hl7.org/fhir/us/core/StructureDefinition/us-core-medicationrequest",
                              "supportedProfile": [
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-medicationrequest"
                              ],
                              "interaction": [
                                {
                                  "code": "read"
                                },
                                {
                                  "code": "search-type"
                                }
                              ],
                              "searchParam": [
                                {
                                  "name": "_id",
                                  "type": "token",
                                  "documentation": "The ID of the resource"
                                },
                                {
                                  "name": "authoredon",
                                  "type": "date",
                                  "documentation": "Return prescriptions written on this date"
                                },
                                {
                                  "name": "encounter",
                                  "type": "reference",
                                  "documentation": "Return prescriptions with this encounter identifier"
                                },
                                {
                                  "name": "intent",
                                  "type": "string",
                                  "documentation": "Returns prescriptions with different intents"
                                },
                                {
                                  "name": "patient",
                                  "type": "reference",
                                  "documentation": "Returns prescriptions for a specific patient"
                                },
                                {
                                  "name": "status",
                                  "type": "string",
                                  "documentation": "Status of the prescription"
                                }
                              ]
                            },
                            {
                              "type": "Observation",
                              "supportedProfile": [
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-observation-lab",
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-blood-pressure",
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-bmi",
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-head-circumference",
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-body-height",
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-body-weight",
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-body-temperature",
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-heart-rate",
                                "http://hl7.org/fhir/us/core/StructureDefinition/pediatric-bmi-for-age",
                                "http://hl7.org/fhir/us/core/StructureDefinition/head-occipital-frontal-circumference-percentile",
                                "http://hl7.org/fhir/us/core/StructureDefinition/pediatric-weight-for-height",
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-pulse-oximetry",
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-respiratory-rate",
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-smokingstatus",
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-observation-sexual-orientation",
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-observation-occupation",
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-vital-signs",
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-observation-pregnancystatus",
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-observation-pregnancyintent",
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-observation-clinical-result",
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-observation-screening-assessment"
                              ],
                              "interaction": [
                                {
                                  "code": "read"
                                },
                                {
                                  "code": "search-type"
                                }
                              ],
                              "searchParam": [
                                {
                                  "name": "_id",
                                  "type": "token",
                                  "documentation": "The ID of the resource"
                                },
                                {
                                  "name": "category",
                                  "type": "token",
                                  "documentation": "The classification of the type of observation"
                                },
                                {
                                  "name": "code",
                                  "type": "token",
                                  "documentation": "The code of the observation type"
                                },
                                {
                                  "name": "date",
                                  "type": "date",
                                  "documentation": "Obtained date/time. If the obtained element is a period, a date that falls in the period"
                                },
                                {
                                  "name": "patient",
                                  "type": "reference",
                                  "documentation": "The subject that the observation is about (if patient)"
                                },
                                {
                                  "name": "status",
                                  "type": "string",
                                  "documentation": "The status of the observation"
                                }
                              ]
                            },
                            {
                              "type": "OperationDefinition",
                              "profile": "http://hl7.org/fhir/StructureDefinition/OperationDefinition",
                              "supportedProfile": [
                                "http://hl7.org/fhir/StructureDefinition/OperationDefinition"
                              ],
                              "interaction": [
                                {
                                  "code": "read"
                                }
                              ]
                            },
                            {
                              "type": "Organization",
                              "profile": "http://hl7.org/fhir/us/core/StructureDefinition/us-core-organization",
                              "supportedProfile": [
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-organization"
                              ],
                              "interaction": [
                                {
                                  "code": "read"
                                },
                                {
                                  "code": "search-type"
                                }
                              ],
                              "searchParam": [
                                {
                                  "name": "_id",
                                  "type": "token",
                                  "documentation": "The ID of the resource"
                                },
                                {
                                  "name": "address",
                                  "type": "string",
                                  "documentation": "A server defined search that may match any of the string fields in the Address, including line, city, district, state, country, postalCode, and/or text"
                                },
                                {
                                  "name": "identifier",
                                  "type": "token",
                                  "documentation": "Any identifier for the organization (not the accreditation issuer's identifier)"
                                },
                                {
                                  "name": "name",
                                  "type": "string",
                                  "documentation": "A portion of the organization's name or alias"
                                }
                              ]
                            },
                            {
                              "type": "Patient",
                              "profile": "http://hl7.org/fhir/us/core/StructureDefinition/us-core-patient",
                              "supportedProfile": [
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-patient"
                              ],
                              "interaction": [
                                {
                                  "code": "read"
                                },
                                {
                                  "code": "search-type"
                                }
                              ],
                              "searchParam": [
                                {
                                  "name": "_id",
                                  "type": "token",
                                  "documentation": "The ID of the resource"
                                },
                                {
                                  "name": "active",
                                  "type": "token",
                                  "documentation": "Whether the patient record is active"
                                },
                                {
                                  "name": "address",
                                  "type": "string",
                                  "documentation": "A server defined search that may match any of the string fields in the Address, including line, city, district, state, country, postalCode, and/or text"
                                },
                                {
                                  "name": "address-city",
                                  "type": "string",
                                  "documentation": "A city specified in an address"
                                },
                                {
                                  "name": "address-country",
                                  "type": "string",
                                  "documentation": "A country specified in an address"
                                },
                                {
                                  "name": "address-postalcode",
                                  "type": "string",
                                  "documentation": "A postalCode specified in an address"
                                },
                                {
                                  "name": "address-state",
                                  "type": "string",
                                  "documentation": "A state specified in an address"
                                },
                                {
                                  "name": "address-use",
                                  "type": "token",
                                  "documentation": "A use code specified in an address"
                                },
                                {
                                  "name": "birthdate",
                                  "type": "date",
                                  "documentation": "The patient's date of birth"
                                },
                                {
                                  "name": "deceased",
                                  "type": "token",
                                  "documentation": "This patient has been marked as deceased, or as a death date entered"
                                },
                                {
                                  "name": "email",
                                  "type": "token",
                                  "documentation": "A value in an email contact"
                                },
                                {
                                  "name": "family",
                                  "type": "string",
                                  "documentation": "A portion of the family name of the patient"
                                },
                                {
                                  "name": "gender",
                                  "type": "token",
                                  "documentation": "Gender of the patient"
                                },
                                {
                                  "name": "general-practitioner",
                                  "type": "reference",
                                  "documentation": "Patient's nominated general practitioner, not the organization that manages the record"
                                },
                                {
                                  "name": "given",
                                  "type": "string",
                                  "documentation": "A portion of the given name of the patient"
                                },
                                {
                                  "name": "identifier",
                                  "type": "token",
                                  "documentation": "A patient identifier"
                                },
                                {
                                  "name": "language",
                                  "type": "token",
                                  "documentation": "Language code (irrespective of use value)"
                                },
                                {
                                  "name": "link",
                                  "type": "reference",
                                  "documentation": "All patients linked to the given patient"
                                },
                                {
                                  "name": "link-type",
                                  "type": "string",
                                  "documentation": "The type of link between this Patient resource and another Patient/RelatedPerson resource"
                                },
                                {
                                  "name": "name",
                                  "type": "string",
                                  "documentation": "A server defined search that may match any of the string fields in the HumanName, including family, give, prefix, suffix, suffix, and/or text"
                                },
                                {
                                  "name": "phone",
                                  "type": "token",
                                  "documentation": "A value in a phone contact"
                                },
                                {
                                  "name": "telecom",
                                  "type": "token",
                                  "documentation": "The value in any kind of telecom details of the patient"
                                }
                              ],
                              "operation": [
                                {
                                  "name": "export",
                                  "definition": "http://hl7.org/fhir/uv/bulkdata/OperationDefinition/patient-export"
                                }
                              ]
                            },
                            {
                              "type": "Practitioner",
                              "profile": "http://hl7.org/fhir/us/core/StructureDefinition/us-core-practitioner",
                              "supportedProfile": [
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-practitioner"
                              ],
                              "interaction": [
                                {
                                  "code": "read"
                                },
                                {
                                  "code": "search-type"
                                }
                              ],
                              "searchParam": [
                                {
                                  "name": "_id",
                                  "type": "token",
                                  "documentation": "The ID of the resource"
                                },
                                {
                                  "name": "active",
                                  "type": "token",
                                  "documentation": "Whether the practitioner record is active"
                                },
                                {
                                  "name": "email",
                                  "type": "token",
                                  "documentation": "A value in an email contact"
                                },
                                {
                                  "name": "family",
                                  "type": "string",
                                  "documentation": "A portion of the family name"
                                },
                                {
                                  "name": "given",
                                  "type": "string",
                                  "documentation": "A portion of the given name"
                                },
                                {
                                  "name": "identifier",
                                  "type": "token",
                                  "documentation": "A practitioner's Identifier"
                                },
                                {
                                  "name": "name",
                                  "type": "string",
                                  "documentation": "A server defined search that may match any of the string fields in the HumanName, including family, give, prefix, suffix, suffix, and/or text"
                                },
                                {
                                  "name": "phone",
                                  "type": "token",
                                  "documentation": "A value in a phone contact"
                                },
                                {
                                  "name": "telecom",
                                  "type": "token",
                                  "documentation": "The value in any kind of contact"
                                }
                              ]
                            },
                            {
                              "type": "PractitionerRole",
                              "profile": "http://hl7.org/fhir/us/core/StructureDefinition/us-core-practitionerrole",
                              "supportedProfile": [
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-practitionerrole"
                              ],
                              "interaction": [
                                {
                                  "code": "read"
                                },
                                {
                                  "code": "search-type"
                                }
                              ],
                              "searchParam": [
                                {
                                  "name": "_id",
                                  "type": "token",
                                  "documentation": "The ID of the resource"
                                },
                                {
                                  "name": "active",
                                  "type": "token",
                                  "documentation": "Whether this practitioner role record is in active use"
                                },
                                {
                                  "name": "email",
                                  "type": "token",
                                  "documentation": "A value in an email contact"
                                },
                                {
                                  "name": "location",
                                  "type": "reference",
                                  "documentation": "One of the locations at which this practitioner provides care"
                                },
                                {
                                  "name": "organization",
                                  "type": "reference",
                                  "documentation": "The identity of the organization the practitioner represents / acts on behalf of"
                                },
                                {
                                  "name": "phone",
                                  "type": "token",
                                  "documentation": "A value in a phone contact"
                                },
                                {
                                  "name": "practitioner",
                                  "type": "reference",
                                  "documentation": "Practitioner that is able to provide the defined services for the organization"
                                },
                                {
                                  "name": "role",
                                  "type": "token",
                                  "documentation": "The practitioner can perform this role at for the organization"
                                },
                                {
                                  "name": "specialty",
                                  "type": "token",
                                  "documentation": "The practitioner has this specialty at an organization"
                                },
                                {
                                  "name": "telecom",
                                  "type": "token",
                                  "documentation": "The value in any kind of contact"
                                }
                              ]
                            },
                            {
                              "type": "Procedure",
                              "profile": "http://hl7.org/fhir/us/core/StructureDefinition/us-core-procedure",
                              "supportedProfile": [
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-procedure"
                              ],
                              "interaction": [
                                {
                                  "code": "read"
                                },
                                {
                                  "code": "search-type"
                                }
                              ],
                              "searchParam": [
                                {
                                  "name": "_id",
                                  "type": "token",
                                  "documentation": "The ID of the resource"
                                },
                                {
                                  "name": "code",
                                  "type": "token",
                                  "documentation": "A code to identify a  procedure"
                                },
                                {
                                  "name": "date",
                                  "type": "date",
                                  "documentation": "When the procedure was performed"
                                },
                                {
                                  "name": "patient",
                                  "type": "reference",
                                  "documentation": "Search by subject - a patient"
                                },
                                {
                                  "name": "status",
                                  "type": "string",
                                  "documentation": "preparation | in-progress | not-done | on-hold | stopped | completed | entered-in-error | unknown"
                                }
                              ]
                            },
                            {
                              "type": "Provenance",
                              "profile": "http://hl7.org/fhir/us/core/StructureDefinition/us-core-provenance",
                              "supportedProfile": [
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-provenance"
                              ],
                              "interaction": [
                                {
                                  "code": "read"
                                },
                                {
                                  "code": "search-type"
                                }
                              ],
                              "searchParam": [
                                {
                                  "name": "target",
                                  "type": "reference",
                                  "documentation": "Target Reference(s) (usually version specific)"
                                }
                              ]
                            },
                            {
                              "type": "Questionnaire",
                              "profile": "http://hl7.org/fhir/uv/sdc/StructureDefinition/sdc-questionnaire",
                              "supportedProfile": [
                                "http://hl7.org/fhir/uv/sdc/StructureDefinition/sdc-questionnaire"
                              ],
                              "interaction": [
                                {
                                  "code": "read"
                                },
                                {
                                  "code": "search-type"
                                }
                              ],
                              "searchParam": [
                                {
                                  "name": "_id",
                                  "type": "token",
                                  "documentation": "The ID of the resource"
                                },
                                {
                                  "name": "code",
                                  "type": "token",
                                  "documentation": "A code that corresponds to one of its items in the questionnaire"
                                }
                              ]
                            },
                            {
                              "type": "QuestionnaireResponse",
                              "profile": "http://hl7.org/fhir/us/core/StructureDefinition/us-core-questionnaireresponse",
                              "supportedProfile": [
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-questionnaireresponse"
                              ],
                              "interaction": [
                                {
                                  "code": "read"
                                },
                                {
                                  "code": "search-type"
                                }
                              ],
                              "searchParam": [
                                {
                                  "name": "_id",
                                  "type": "token",
                                  "documentation": "The ID of the resource"
                                },
                                {
                                  "name": "patient",
                                  "type": "reference",
                                  "documentation": "The patient that is the subject of the questionnaire response"
                                }
                              ]
                            },
                            {
                              "type": "RelatedPerson",
                              "profile": "http://hl7.org/fhir/us/core/StructureDefinition/us-core-relatedperson",
                              "supportedProfile": [
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-relatedperson"
                              ],
                              "interaction": [
                                {
                                  "code": "read"
                                },
                                {
                                  "code": "search-type"
                                }
                              ],
                              "searchParam": [
                                {
                                  "name": "_id",
                                  "type": "token",
                                  "documentation": "The ID of the resource"
                                },
                                {
                                  "name": "name",
                                  "type": "string",
                                  "documentation": "A server defined search that may match any of the string fields in the HumanName, including family, give, prefix, suffix, suffix, and/or text"
                                },
                                {
                                  "name": "patient",
                                  "type": "reference",
                                  "documentation": "The patient this related person is related to"
                                }
                              ]
                            },
                            {
                              "type": "ServiceRequest",
                              "profile": "http://hl7.org/fhir/us/core/StructureDefinition/us-core-servicerequest",
                              "supportedProfile": [
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-servicerequest"
                              ],
                              "interaction": [
                                {
                                  "code": "read"
                                },
                                {
                                  "code": "search-type"
                                }
                              ],
                              "searchParam": [
                                {
                                  "name": "_id",
                                  "type": "token",
                                  "documentation": "The ID of the resource"
                                },
                                {
                                  "name": "authored",
                                  "type": "date",
                                  "documentation": "Date request signed"
                                },
                                {
                                  "name": "category",
                                  "type": "token",
                                  "documentation": "Classification of service"
                                },
                                {
                                  "name": "code",
                                  "type": "token",
                                  "documentation": "What is being requested/ordered"
                                },
                                {
                                  "name": "patient",
                                  "type": "reference",
                                  "documentation": "Search by subject - a patient"
                                },
                                {
                                  "name": "status",
                                  "type": "string",
                                  "documentation": "draft | active | on-hold | revoked | completed | entered-in-error | unknown"
                                }
                              ]
                            },
                            {
                              "type": "Specimen",
                              "profile": "http://hl7.org/fhir/us/core/StructureDefinition/us-core-specimen",
                              "supportedProfile": [
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-specimen"
                              ],
                              "interaction": [
                                {
                                  "code": "read"
                                },
                                {
                                  "code": "search-type"
                                }
                              ],
                              "searchParam": [
                                {
                                  "name": "_id",
                                  "type": "token",
                                  "documentation": "The ID of the resource"
                                },
                                {
                                  "name": "patient",
                                  "type": "reference",
                                  "documentation": "The patient the specimen comes from"
                                }
                              ]
                            },
                            {
                              "type": "ValueSet",
                              "interaction": [
                                {
                                  "code": "read"
                                },
                                {
                                  "code": "search-type"
                                }
                              ],
                              "searchParam": [
                                {
                                  "name": "code",
                                  "type": "token",
                                  "documentation": "This special parameter searches for codes in the value set. See additional notes on the ValueSet resource"
                                },
                                {
                                  "name": "name",
                                  "type": "string",
                                  "documentation": "Computationally friendly name of the value set"
                                },
                                {
                                  "name": "publisher",
                                  "type": "string",
                                  "documentation": "Name of the publisher of the value set"
                                },
                                {
                                  "name": "title",
                                  "type": "string",
                                  "documentation": "The human-friendly name of the value set"
                                }
                              ]
                            }
                          ],
                          "operation": [
                            {
                              "name": "export",
                              "definition": "http://hl7.org/fhir/uv/bulkdata/OperationDefinition/export"
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/AllergyIntolerance/{id}": {
      "get": {
        "tags": [
          "AllergyIntolerance"
        ],
        "summary": "read-instance: Read AllergyIntolerance instance",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The resource ID",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "123"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/AllergyIntolerance": {
      "get": {
        "tags": [
          "AllergyIntolerance"
        ],
        "summary": "search-type: Search for AllergyIntolerance instances",
        "description": "This is a search type",
        "parameters": [
          {
            "name": "_id",
            "in": "query",
            "description": "The ID of the resource",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clinical-status",
            "in": "query",
            "description": "active | inactive | resolved",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Who the sensitivity is for",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/CarePlan/{id}": {
      "get": {
        "tags": [
          "CarePlan"
        ],
        "summary": "read-instance: Read CarePlan instance",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The resource ID",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "123"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/CarePlan": {
      "get": {
        "tags": [
          "CarePlan"
        ],
        "summary": "search-type: Search for CarePlan instances",
        "description": "This is a search type",
        "parameters": [
          {
            "name": "_id",
            "in": "query",
            "description": "The ID of the resource",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Type of plan",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "intent",
            "in": "query",
            "description": "proposal | plan | order | option",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Who the care plan is for",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "draft | active | on-hold | revoked | completed | entered-in-error | unknown",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/CareTeam/{id}": {
      "get": {
        "tags": [
          "CareTeam"
        ],
        "summary": "read-instance: Read CareTeam instance",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The resource ID",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "123"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/CareTeam": {
      "get": {
        "tags": [
          "CareTeam"
        ],
        "summary": "search-type: Search for CareTeam instances",
        "description": "This is a search type",
        "parameters": [
          {
            "name": "_id",
            "in": "query",
            "description": "The ID of the resource",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Who care team is for",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "proposed | active | suspended | inactive | entered-in-error",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/Condition/{id}": {
      "get": {
        "tags": [
          "Condition"
        ],
        "summary": "read-instance: Read Condition instance",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The resource ID",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "123"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/Condition": {
      "get": {
        "tags": [
          "Condition"
        ],
        "summary": "search-type: Search for Condition instances",
        "description": "This is a search type",
        "parameters": [
          {
            "name": "_id",
            "in": "query",
            "description": "The ID of the resource",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "The category of the condition",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clinical-status",
            "in": "query",
            "description": "The clinical status of the condition",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "description": "Code for the condition",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "encounter",
            "in": "query",
            "description": "Encounter created as part of",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onset-date",
            "in": "query",
            "description": "Date related onsets (dateTime and Period)",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "string",
                  "format": "date"
                }
              ]
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Who has the condition?",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recorded-date",
            "in": "query",
            "description": "Date record was first recorded",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "string",
                  "format": "date"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/Coverage/{id}": {
      "get": {
        "tags": [
          "Coverage"
        ],
        "summary": "read-instance: Read Coverage instance",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The resource ID",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "123"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/Coverage": {
      "get": {
        "tags": [
          "Coverage"
        ],
        "summary": "search-type: Search for Coverage instances",
        "description": "This is a search type",
        "parameters": [
          {
            "name": "_id",
            "in": "query",
            "description": "The ID of the resource",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Retrieve coverages for a patient",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/Device/{id}": {
      "get": {
        "tags": [
          "Device"
        ],
        "summary": "read-instance: Read Device instance",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The resource ID",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "123"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/Device": {
      "get": {
        "tags": [
          "Device"
        ],
        "summary": "search-type: Search for Device instances",
        "description": "This is a search type",
        "parameters": [
          {
            "name": "_id",
            "in": "query",
            "description": "The ID of the resource",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Patient information, if the resource is affixed to a person",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "The type of the device",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/DiagnosticReport/{id}": {
      "get": {
        "tags": [
          "DiagnosticReport"
        ],
        "summary": "read-instance: Read DiagnosticReport instance",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The resource ID",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "123"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/DiagnosticReport": {
      "get": {
        "tags": [
          "DiagnosticReport"
        ],
        "summary": "search-type: Search for DiagnosticReport instances",
        "description": "This is a search type",
        "parameters": [
          {
            "name": "_id",
            "in": "query",
            "description": "The ID of the resource",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Which diagnostic discipline/department created the report",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "description": "The code for the report, as opposed to codes for the atomic results, which are the names on the observation resource referred to from the result",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "The clinically relevant time of the report",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "string",
                  "format": "date"
                }
              ]
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "The subject of the report if a patient",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "The status of the report",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/DocumentReference/{id}": {
      "get": {
        "tags": [
          "DocumentReference"
        ],
        "summary": "read-instance: Read DocumentReference instance",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The resource ID",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "123"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/DocumentReference": {
      "get": {
        "tags": [
          "DocumentReference"
        ],
        "summary": "search-type: Search for DocumentReference instances",
        "description": "This is a search type",
        "parameters": [
          {
            "name": "_id",
            "in": "query",
            "description": "The ID of the resource",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Categorization of document",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "When this document reference was created",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "string",
                  "format": "date"
                }
              ]
            }
          },
          {
[...]
